<%- include ../partials/header.ejs %>

 <div class="container">
    <h1><%= title %></h1>
    <div class="jumbotron"> 
        <hr class="my-4"></hr>
         <p id="paragraph" class="content"></p>
          <ul id="myProjectThings"></ul>
           <br>
          <h1 class="display-5">Education Projects :</h1>
          <li>Traffic Light Controller - Digital Electronics : All traffics are controlled with advanced futures.</li>
          <li>Temperature Measurement - Micro Controller : Temperature is measured in digital and giving warning messages to help users.</li>
          <li>TTC Application - Software Engineering : It allows passengers to help to travel with more advanced futures.</li>
          <br>
          <h1 class="display-6"></h1>
    </div>
  </div>

<%- include ../partials/footer.ejs %>
