<%- include ../partials/header.ejs %>

  <div class="container">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <h1 class="display-7">My Personal Mission Statement</h1>
      <br>
      <p>To learn, develop and grow in Software Engineering by contributing my skills, experience, and knowledge through enthusiasm, dedication, and passion."</p>
      <h1 class="display-7">Education Biography :</h1>
      <li>Studying Software Engineering Technology - CENTENNIAL COLLEGE</li>
      <li> Bachelor of Education, Intermediate/Senior (Mathematics, Physics & Computer )-UNIVERSITY OF TORONTO</li>
      <li>Bachelor of Engineering, Electrical Degree-UNIVERSITY OF TORONTO</li>
  </div>

<%- include ../partials/footer.ejs %>
  